*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	line-height: 200%;
}

a  {
	color: #2e86c1;
}

.topsection {
	padding: 10px;
	background: #85c1e9;
	width: 100%;
}

.mainsection {
	padding: 20px;	
	width: 100%;
}