*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana;
	text-decoration: none;
	line-height: 200%;
}

a  {
	color: #d35400;
}

a:hover {	
	color:  #6e2c00 
}

code {
	font-size: 125%;
	font-family: monospace;
	margin-left: 2em;
	color:  #6e2c00;
}

.topsection {
	padding: 10px;
	background: #e59866;
	width: 100%;
}

.mainsection {
	padding: 20px;	
	width: 100%;
}