*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana;
	text-decoration: none;
	text-align: justify;
	line-height: 200%;
	color: #fff;	
}

body {
	background:  #17202a;
}

a  {
	color: #f5cba7;
}

a:hover {	
	color: #eb984e;
}

code {
    font-family: monospace;
	font-size: 125%;
	margin-left: 2em;
	color: #eb984e;	
}

.topsection {
	padding: 10px;
	width: 100%;
}

.mainsection {
	padding: 20px;
	background: #154360;
	width: 100%;
}

